@model word_html_utility.Models.Versions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Versions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
